#body {
text-align: center;
margin-top: auto;
margin-bottom: auto;
margin-left: auto;
margin-right: auto;
border-style: solid;
}

img {
width: 225px;
height: 224px;
vertical-align: middle;
border-radius: 8px;
}

.title {
background-color: blanchedalmond;
font-family: cursive;
font-size: 36px;
font-weight: bold;
margin-top: auto;
}

#description {
font-style: italic;
}

.recipe-list {
list-style: none;
line-height: 1.5;
padding: 0;
}

.instructions {
list-style: none;
line-height: 1.5;
padding: 0;
}
    
.odd {
background-color: blanchedalmond;
display: inline-flex;
}